.plant .crit {
	color: #c00;
}

.plant .name::before {
	content: "Name: "
}

.plant .type::before {
	content: "Type: "
}

.plant .moisture::before {
	content: "Moisture: "
}

.plant .temperature::before {
	content: "Temperature: "
}
.plant .temperature::after {
	content: " deg C"
}

.plant .ok {
	color: #0c0;
}

.plant .low {
	color: #cc0;
}

.plant .toomuch {
	color: #00c;
}
